<html>
  <head>
    <link rel="stylesheet" href="style.css">
    <title>Feed Me!</title>
  </head>
  <body>
    <div class="chow">
      <button class="chow__clear-button">clear</button>
      <form class="chow__search">
        <input class="chow__search-input" value="camden" placeholder="WHERE ARE YOU IN LONDON?" type="text"></input>
      </form>
      <div class="chow__content"></div>
    </div>

    <script type="text/html" class="template">

      <% if (hasLocation) { %>
        <div class="chow__instructions">
          <h2 class="chow__location"><%= location %>, London, England.</h2>
          <h2>We can work with that</h2>
          <h2>Choose an option</h2>
        </div>

        <ul class="chow__options">
          <% _.each(options, function(option){ %>
            <li class="chow__option" data-option-name="<%= option.searchTerm %>"><%= option.name %></li>
          <% }); %>
        </ul>
      <% } %>

      <% if (loading) { %>
        <div class='chow__spinner'>Loading <%= activeOption.name %>... <img src='spinner.gif' /></div>
      <% } %>

      <% if (venues) { %>
        <ul class="chow__venues">
          <% _.each(venues, function(venue){ %>
          <li>
            <h2><%= venue.name %></h2>
            <p><span class='chow__info'>Rated</span><strong> <%= venue.rating %></strong></p>
            <p><span class='chow__info'>Price</span><strong> <%= venue.priceBracket %></strong></p>
            <p><%= venue.openStatus %></p>
            <a href="<%= venue.url %>"><%= venue.name %> Website</a>
            <a class='view-more' href="<%= venue.name %>">Menu</a></li>
          </li>
          <% }); %>
        </ul>
      <% } %>

    </script>

    <script type="text/javascript" src="underscore.js"></script>
    <!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAotvXSitO9XB3tAl-1lX7eIgLw_oaOjEo&callback=initMap"-->
            <!--async defer></script>-->
    <script type="text/javascript" src="script.js"></script>
  </body>
</html>
